body{
   background: black;
}
h1 {
   color: grey;
  text-align: center; 
}

textarea {
   background: white;
   font-family: serif;
   font-size: 20px;
   display: block;
   height: 50px;
   width: 50%;
   margin: 0 auto;
   padding: 15px;
}

#randomText {
   background: white;
   font-family: serif;
   font-size: 20px;
   display: block;
   padding: 15px;
   height: 60px;
   width: 50%;
   margin: 0 auto;
   border: 2px solid grey;
   overflow: auto;
}


#inputWrapper {
   color: white;
   padding-top: 20px;
   width: 50%;
   margin: 0 auto;
   text-align: center;
}

input {
   background: white;
   width: 50px;
}

p {
   
   width: 100%;
}

#StartNewGame {
   padding: 15px;
   border: none;
   border-radius: 5px;
   background: light grey;
   display: block;
   width: 150px;
   margin: 10px auto;
   
}

h3, h2 {
   color: white;
   text-align: center;
   padding: 15px;
}



#highlight {
   color: rgb(4, 104, 4);
}

#nohighlight {
   color: red;
}

#highlightCurrent {
   background: yellow;
}