body{
   background: black;
}
h1 {
   margin-top: 0px;
   background-color: red;
   padding: 15px;
  color: white;
  text-align: center; 
}

textarea {
   border: 2px solid grey;
   margin: 0px;
   background: white;
   font-family: serif;
   font-size: 20px;
   display: block;
   height: 50px;
   padding: 15px;
   width: 95%;
}

#textWrapper{
   width: 700px;
}

#contentWrapper {
   display: flex;
   justify-content: center;
}

#randomText {
   margin: 0px;
   background: white;
   font-family: serif;
   font-size: 20px;
   display: block;
   padding: 15px;
   height: 120px;
   border: 2px solid grey;
   overflow: auto;
   width: 95%;


}


#inputWrapper {
   color: white;
   padding-top: 20px;
   width: 50%;
   margin: 0 auto;
   text-align: center;
}

input {
   background: white;
   width: 50px;
}

p {
   
   width: 100%;
}


#StartNewGame {
   padding: 15px;
   border: none;
   border-radius: 5px;
   background: light grey;
   display: block;
   width: 150px;
   margin: 0px auto;
   
}



h3, h2 {
   color: white;
   padding-left: 10px;
}

#timer {
   text-align: center;
   font-size: 30px;
}

#wpm {
   background: rgb(92, 91, 91);
   height: 238px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 380px;
}

#wpmText{
   font-size: 35px;
}

#highlight {
   color: rgb(4, 104, 4);
}

#nohighlight {
   color: red;
}

#highlightCurrent {
   background: yellow;
}