h1 {
  text-align: center; 
}

textarea {
   display: block;
   height: 100px;
   font-size: 15px;
   width: 50%;
   margin: 0 auto;
}

#randomText {
   padding: 15px;
   height: 150px;
   width: 50%;
   margin: 0 auto;
   border: 2px solid grey;
}


#inputWrapper {
   padding-top: 20px;
   width: 50%;
   margin: 0 auto;
   text-align: center;
}

input {
   width: 50px;
}

p {
   width: 100%;
}

#StartNewGame {
   padding: 15px;
   border: none;
   border-radius: 5px;
   background: light grey;
   display: block;
   width: 150px;
   margin: 10px auto;
   
}

h3 {
   text-align: center;
   padding: 15px;
}

#highlight {
   color: red;
}

#nohighlight {
   color: blue;
}